:root{
    --orange: #ffcb1e;

}

*
{
    margin: 0%;
    padding: 0%;
    /* border: 1px solid green; */
}
body
{
    background-image: url("../icons/background.png");
}
.Header
{
    display: flex;
    padding: 1%;
}
.Header .Left
{
    display: flex;
    width: 50%;
}
.Header .Left .Video
{
    width: 20%;
}
.Header .Left .Video video
{
    width: 100%;
}
.Header .Head
{
    margin-left: 3%;
}
.Header .Head .Title
{
    color: white;
    letter-spacing: 5px;
    font-size: 500%;
    font-family: 'VT323', monospace;
}
.Header .Head .Subtitle
{
    color: white;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 10px;
}
.Header .Right
{
    display: flex;
    justify-content: right;
    width: 50%;
    padding-top: 2%;
}
.Header .Right button
{
    font-family: 'Courier Prime', monospace;
    height: 50%;
    width: 27%;
    margin-right: 5%;
    font-size: 150%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
.Header .Right button:hover
{
    background-color: rgba(255, 0, 0, 0.5);
}

.Games .Header
{
    color: white;
    font-family: 'VT323', monospace;
    letter-spacing: 5px;
    font-size: 200%;
    border-bottom: 10px solid var(--orange);
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    justify-content: center;
}
.Games .cards
{
    border-top: 1px solid var(--orange);
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Games .cards .Card
{
    border: 3px solid var(--orange);
    width: 20%;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.Games .cards .Card .Heading
{
    color: white;
    font-family: 'Courier Prime', monospace;
    font-size: 200%;
    border-bottom: 1px solid var(--orange);
}
.Games .cards .Card .Image
{
    width: 70%;
    margin-left: 15%;
    margin-top: 1%;
}
.Games .cards .Card .Image img
{
    width: 100%;
}
.Games .cards .Card button
{
    font-family: 'Courier Prime', monospace;
    letter-spacing: 10px;
    width: 50%;
    margin: 2%;
    margin-bottom: 3%;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    font-size: 100%;
    text-align: center;
    padding: 1%;
}
.Games .cards .Card button:hover
{
    background-color: rgba(0, 255, 34, 0.1);
}
.Games .cards .Card button a
{
    text-decoration: none;
    color: white;
}

.Developers
{
    display: none;
}
.Developers .Header
{
    color: white;
    font-family: 'VT323', monospace;
    letter-spacing: 5px;
    font-size: 200%;
    border-bottom: 10px solid var(--orange);
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    justify-content: center;
}
.Developers .about
{
    border-top: 1px solid var(--orange);
    display: flex;
    padding: 2%;
    justify-content: center ;
}
.Developers .about .Col 
{
    color: white;
    border: 1px solid var(--orange);
    width: 25%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.Developers .about .Col:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}
.Developers .about .Col .Image
{
    width: 50%;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 2%;
}
.Developers .about .Col .Image img
{
    width: 100%;
    border-radius: 50%;
}
.Developers .about .Col .Name
{
    color: var(--orange);
    text-align: center;
    border-bottom: 1px solid var(--orange);
    font-family: 'VT323', monospace;
    font-size: 200%;
}
.Developers .about .Col .Detail
{
    padding-left: 10%;
    padding-top: 1%;
    font-family: 'Courier Prime', monospace;
    font-size: 80%;
}
.Developers .about .Col .Detail .bullet
{
    color: var(--orange);
}
.Developers .about .Col .Detail .icon_area
{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.Developers .about .Col .Detail .icon_area a
{
    width: 10%;
    margin-right: 15%;
}
.Developers .about .Col .Detail .icon_area a img
{
    width: 100%;
}

.Upload
{
    display: none;
}
.Upload .Header
{
    color: white;
    font-family: 'VT323', monospace;
    letter-spacing: 5px;
    font-size: 200%;
    border-bottom: 10px solid var(--orange);
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    justify-content: center;
}
.Upload .about
{
    border-top: 1px solid var(--orange);
}